* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;;
}

body {
    font-size: $font-size;
}
body::after {
    content: '';    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: $bg-image;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -100;

}