.ots-blue {
    background-color: $col-blue;
    color: $col-white;
}

.ots-orange {
    background-color: $col-orange;
    color: $col-white;
}

.ots-orange-light {
    background-color: $col-orange-50;
    color: $col-white;
}

.ots-mid-blue {
    background-color: $col-mid-blue;
    color: $col-white;
}
.ots-gray {
    background-color: $col-gray;
    color: $col-black;
}


