.card {
    background-color: $col-white;
    padding: 0rem;
    border-radius: .5rem;
    width: 35rem;
    box-shadow: -.2rem -.2rem 1rem $col-gray;
    &__body {        
        margin: 0.5rem;
        padding: 0rem 0rem 0rem .5rem;  
    }
    &__desc {
        font-size: calc($font-size * 1);
        width: 100%;
        word-wrap: break-word;
        padding-bottom: 0.8rem;
        border-bottom: solid 1px lightgrey;
    }
    &__detail {
        font-size: calc($font-size * 1.1);        
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        em {
            font-weight: 700;

        }
        span {
            display: block;
            margin-left: .8rem;
            text-align: center;
            width: 100%;
            // background-color: yellow;
        }
    }

}