.title {
    display: flex;
    align-items: center;
    justify-content: space-between;           
    background-color: $col-mid-blue;
    color: $col-white;
    width: 95%;
    border-radius: .5rem;
    margin: .5rem;
    padding: .8rem 1rem;
    font-size: calc($font-size * 1.2);
    &__img {   
        border-radius: 50%;
        height: 5.2rem;
        width: 5.2rem;
        padding: 1.2rem;
        background-color: darken($col-mid-blue, 10);
        display: flex;
        justify-content: center;
        align-items: center;                
    }
}